.header {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #33ccff 0%, #1e08a0 100%);
    color: white;
    font-size: 20px;
  }
  #search{
    color: black;
    font-size: 20px;
  }
  .bold{
    color: black;
    font-size: 20px;
  }
  .search-box {
    border: 2px solid black;
    padding: 40px;
}


 #search, #search-box, #cityName{
  margin: 3px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#weatherContainer{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 1500px;
  border: 5px solid rgba(97, 95, 95, 0.829);
  border-radius: 50px;
  background: linear-gradient(to bottom, #33ccff 0%, #1e08a0 100%);
  color: white;
}
#iconsContainer{
  position: absolute;
  left: 15%;
  margin-right: -50%;
  height: 300px;
  width: 1200px;
  border-radius: 10px;
  top: 20%;
}

.icons{
  display: inline-block;
  float: left;
  height: 200px;
  width: 190px;
  margin: 20px;
  border: 5px solid rgb(48, 47, 47);
  border-radius: 10px;
}
.image{
  height: 140px;
  width: 100%;
}
.imgClass{
  height: 140px;
  width: 100%;
}
.weather{
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
.minValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}
.maxValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}